* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.App {
	margin-bottom: 20px;
}

.content {
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 800px) {
	.content {
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.header {
	width: 100%;
	color: lavenderblush;
	padding: 20px 0px;
	margin-bottom: 50px;
	font-size: 24px;
	background-color: #2c2c2c77;
	font-weight: bold;
}

.title {
	padding: 0px 20px;
}

.question {
	width: 100%;
	margin: 20px;
	font-size: 30px;
	text-align: center;
	padding: 20px 0px;
	border-radius: 10px;
	background-color: #2c2c2c77;
	color: lavenderblush;
}

.code-div {
	width: 100%;
	display: flex;
	justify-content: center;
}

.code {
	overflow-x: auto;
	color: lightblue;
	font-family: "Courier New", Courier, monospace;
	margin: 50px 30px 20px 30px;
	padding: 10px;
	border-radius: 10px;
}

.option {
	background-color: #2c2c2c77;
	color: lavenderblush;
	text-align: center;
	font-size: 24px;
	padding: 15px 20px;
	margin: 20px;
	border-radius: 10px;
}

.option:hover {
	color: black;
	background-color: #bf79db;
}

.option-selected {
	text-align: center;
	font-size: 24px;
	padding: 15px 20px;
	margin: 20px;
	border-radius: 10px;
	background-color: #a6e22e;
}

.submitBtn {
	display: flex;
	width: 90%;
	border-radius: 10px;
	font-size: 30px;
	color: #000000;
	font-weight: bold;
	justify-content: center;
	padding: 10px;
	margin: 60px 20px 20px 20px;
	background-color: #f92672;
}

.error {
	font-size: 12px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #f92672;
	padding: 3px;
	color: #f92672;
	background-color: #ff000011;
	margin: 20px 20px 0px 20px;
}

.error-hidden {
	font-size: 12px;
	border: 1px solid #f92672;
	padding: 3px;
	margin: 20px 20px 0px 20px;
	visibility: hidden;
}

.answer {
	color: lightseagreen;
	background-color: #2c2c2c77;
	padding: 20px;
	margin: 20px;
	font-size: large;
	border-radius: 10px;
}

.answer-hidden {
	display: none;
}

.nextBtn {
	width: 90%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	margin: 10px 20px 10px 20px;
	background-color: #bf79db;
	font-size: 30px;
	color: #000000;
	border-radius: 10px;
}
